<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/public/img/JT.png" />
    <link href="/public/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <script src="../public/js/tinymce/tinymce.min.js"></script>
    <script>
        tinyMCE.init({
            mode: "textareas",
            language: "fr_FR"
        });
    </script>
    <link href="/public/css/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="public/css/style.css">
    <meta name="viewport" content="width=device-width" />
    <title>{TITLE} - Jean Forteroche </title>
</head>

<body>
    <header>
        <a href="index.php?page=home" class="nav justify-content-center"><span class="name">JEAN<br></span> <span class="lastname">Forteroche</span></a>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="index.php?page=home">ACCUEIL</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="index.php?page=chapter">LES BILLETS</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="index.php?page=connexion">ESPACE ADMIN</a>
            </li>
        </ul>
    </header>
    {CONTENT}
    <footer>
        <div class="footer-copyright text-center py-3">
            <a class="d-flex justify-content-center" href="index.php?page=home">JEAN<br />FORTEROCHE</a>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="index.php?page=home">ACCUEIL</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="index.php?page=chapter">LES BILLETS</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="index.php?page=connexion">ESPACE ADMIN</a>
                </li>
            </ul>
            <h6> All rights reserved 2019 | Sarah Mallem</h6>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="public/css/js/bootstrap.min.js"></script>
</body>

</html>