<div class="table">
    <table>
        <form action="/index.php?page=commentsadmin" method="POST">
            <input type="hidden" name="post_id" value="{COMMENT_POSTID}" />
            <thead class="thead-dark">
                <tr>
                    <th>Auteur</th>
                    <th>Article</th>
                    <th>Date</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            {LOOP_LISTCOMMENT}
            <tr>
                </tbody>
    </table>

</div>