<div class="errormessage">{ERROR_MESSAGE}</div>

<div class="connexion">
    <h1 class="titreconnexion">ESPACE ADMIN</h1>

    <div id="formulaire_connexion">
        <form action="" method="post">
            <p>Email</p>
            <input type="email" name="email" required>
            <p>Mot de passe</p>
            <input type="password" name="pass" required>
            <br><br>
            <input type="submit" class="confirmationlogin" name="submit" value="Se connecter">
            <br><br>
        </form>
    </div>
</div>




